<GridLayout rows="auto,200,auto,*" columns="*" class="w-full h-full">
  <ngatl-ns-modal-title-bar [title]="item?.peer?.name || 'Unknown'" [params]="params" [customClose]="customClose" row="0" col="0"></ngatl-ns-modal-title-bar>
  <StackLayout row="1" col="0" class="note-section">
    <TextView hint="Add notes..." [(ngModel)]="item.note" editable="true" class="w-full h-full t-20 note-area c-white"></TextView>
  </StackLayout>
  <GridLayout row="2" col="0" padding="10" rows="auto" columns="auto,75,auto,*,auto">
      <Button [text]="recordService.isPlaying ? ('ion-stop' | fonticon) : ('ion-ios-play' | fonticon)" (tap)="togglePlay()" class="ion c-white t-40" [class.disabled]="recordService.isRecording" row="0" col="0"></Button> 
      <Label [text]="recordService.duration$ | async" class="c-white t-14 m-x-5 text-center" row="0" col="1"></Label>
      <Button [text]="recordService.isRecording ? ('ion-stop' | fonticon) : ('ion-record' | fonticon)" (tap)="toggleRecord()" class="ion c-white t-40" [class.c-ngatl-red]="!recordService.isRecording" [class.disabled]="recordService.isPlaying" row="0" col="2"></Button> 
      <Button [text]="'general.save' | translate" (tap)="save()" class="btn btn-primary" row="0" col="4"></Button>   
  </GridLayout>
</GridLayout>
