<ngatl-ns-profile-action-bar [title]="'general.profile' | translate" (logout)="logout()"></ngatl-ns-profile-action-bar>
<GridLayout id="example-background" (loaded)="onBackgroundLoaded($event)" *ngIf="renderView">
  <GridLayout id="form-content" class="form-content" rows="auto,*,auto" (loaded)="onContentLoaded($event)">
    <StackLayout class="top-border" row="0"></StackLayout>
    <ScrollView row="1" class="fields-section">
      <StackLayout>
        <!-- Name -->
        <GridLayout ios:columns="auto,*" android:rows="auto, auto" verticalAlignment="top">
          <Label [text]="'user.name' | translate" class="field-title"></Label>
          <TextField id="name" [(ngModel)]="currentUser.name" class="field" ios:col="1" android:row="1" (tap)="onTextInputTapped($event)"></TextField>
        </GridLayout>
        <StackLayout class="line"></StackLayout>
        <!-- Email -->
        <GridLayout ios:columns="auto,*" android:rows="auto, auto" verticalAlignment="top">
          <Label [text]="'user.email' | translate" class="field-title"></Label>
          <TextField id="email" [(ngModel)]="currentUser.email" class="field" ios:col="1" android:row="1" (tap)="onTextInputTapped($event)"></TextField>
        </GridLayout>
        <StackLayout class="line"></StackLayout>
        <!-- Phone -->
        <GridLayout ios:columns="auto,*" android:rows="auto, auto" verticalAlignment="top">
          <Label [text]="'user.phone' | translate" class="field-title"></Label>
          <TextField id="phone" [(ngModel)]="currentUser.phone" class="field" ios:col="1" android:row="1" (tap)="onTextInputTapped($event)"></TextField>
        </GridLayout>
        <StackLayout class="line"></StackLayout>
        <!-- Company -->
        <GridLayout ios:columns="auto,*" android:rows="auto, auto" verticalAlignment="top">
          <Label [text]="'user.company' | translate" class="field-title"></Label>
          <TextField id="company" [(ngModel)]="currentUser.company" class="field" ios:col="1" android:row="1" (tap)="onTextInputTapped($event)"></TextField>
        </GridLayout>
        <StackLayout class="line"></StackLayout>

        <GridLayout ios:columns="auto,*" android:rows="auto, auto" verticalAlignment="top">
          <Label [text]="'user.language' | translate" class="field-title"></Label>
          <Label id="language" [text]="userLanguage" class="field clickable" ios:col="1" android:row="1" (tap)="openLang()"></Label>
        </GridLayout>
        <StackLayout class="line"></StackLayout>


        <Label [text]="'general.update' | translate" (tap)="save()" class="btn btn-primary btn-sky m-y-20 text-center" [touchColor]="'#30bcff,#288ab8'"></Label>
        <!-- <StackLayout class="line"></StackLayout> -->
       
      </StackLayout>
    </ScrollView>
    <Label [text]="'user.unclaim' | translate" (tap)="unclaim()" class="btn btn-primary c-bg-ngatl-red text-center m-b-5" row="2" col="0" [touchColor]="'#7c1f21,#571618'"></Label>
  </GridLayout>
  <!-- Picture -->
  <!-- <Image
    class="profile-picture"
    src="res://uploadpic">
  </Image> -->
  <StackLayout class="profile-picture-box">
    <ns-picture [selectedImage]="currentUser.imageUrl" (uploadedImage)="uploadedImage($event)" (deleteImage)="removeImage()"></ns-picture>
  </StackLayout>
  <!-- <Image id="image" src="res://user" class="profile-picture" (tap)="onProfilePictureTapped($event)"></Image> -->
</GridLayout>
