    // customized variables
    @import 'variables';
    // theme standard rulesets
    @import '~nativescript-theme-core/scss/index';

    /*pallette chosen from http://www.colourlovers.com/palette/541086/Loyal_Friends*/

    Page, .page {
        background-color: #EDEDF4;
    }
    ListView {
      background-color: #EDEDF4;
    }
    /*icons*/
    .ion {
        font-family: Ionicons, ionicons;
        font-size: 30;
    }
    //override for action-bar colored fonticons
    // .action-bar Button {
    //     color: $white;
    // }
    .gray {
        color: gray;
    }
    .red {
        color: red;
    }
    .sidedrawer-left {
        background-color: $grey-slate;
        .sidedrawer-header {
          padding: 20 16 0 16;
          background-color: $white;
    
          .sidedrawer-header-image {
            background-color: $white;
              height: 220;
              width: 220;
              border-radius: 0;//60;
              margin-bottom: 20;
          }
        }
        .sidedrawer-content {
            background-color: $grey-slate;
            .sidedrawer-item {
                .sidedrawer-list-item-icon {
                    horizontal-align: center;
                    text-align: center;
                    font-size:28;
                    color: $grey-light;
                }
                .sidedrawer-list-item-text {
                    border-width: 0;
                    font-size:20;
                    color: $grey-light;
                }
                &.active {
                    background-color: $white;
                    .sidedrawer-list-item-icon {
                        color: $ngatl-red;
                    }
                    .sidedrawer-list-item-text {
                        font-weight: bold;
                        color: $black;
                    }
                }
            }
        }
    }
    /*cards*/
    .card{
        margin-top: 10;
        margin-left: 10;
        margin-right: 10;
        padding:10;
        vertical-align:top;
        background-color: white;
        border-width: 1;
        border-radius: 3;
        border-color: white;

        &.speaker-card {
            background-color: $ngatl-red;
        }

        &.scanned {
            background-color: transparent;
        }
    }
    .hr-light {
        margin-top: 10;
    }
    .social-controls{
        padding-top: 10;
    }

    .checkbox-layout {
        padding: 5 0 5 12;
        background-color: $dark-blue;
        .label {
          margin: 0 10;
          color: $gold;
        }
    }

    @import 'schedule';
    @import 'intro';

    .home-bg {
        background-image: url('res://home-bg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @keyframes action-image-animate {
        0% {
            opacity: 0;
        }
        66.25% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .action-item {
        color: $white;
    }
    .action-image, .action-item {
        opacity: 0;
        &.ready {
            opacity:1;
        }
        &.intro {
            animation-name: action-image-animate;
            animation-duration: 1;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        }
    }

    // modal action bar override
    .action-bar {
        &.modal-ab {
            .action-item {
                opacity:1;
            }
        }
    }

    .beacon {
        border-radius: 47;
        background-color:$blue-light;
        width:100;
        height:100;
    }

    .c-bg-dark-blue {
        background-color:  $dark-blue;
    }

    .listing {
        background-color:  $dark-blue;

        Label {
            margin: 12 0 12 0;
            text-align: center;

            &.mention {
                color: $grey-light;
                font-style: italic;
            }

        }
    }


    .level, .sponsor-card {
        background-color: #50e3c2;
        padding:3;
        &.level-silver {
            background-color: #9498a2;
        }
        &.level-gold {
            background-color: #ffb720;
        }
        
    }

    .about-bg {
        background-image: url('~/assets/images/skyline.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .copyright {
        background-color: #404040;

        .label {
            color: #696969;
        }
    }
