@keyframes picture {
  from {
    opacity: 0;
    transform: scale(2, 2);
    animation-timing-function: ease-in;
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.profile-picture-box {
  width: 80;
  height: 80;
  border-radius: 40;
  margin-top: 16;
  vertical-align: top;
  horizontal-align: center;
  transform: scale(0.8, 0.8);
  animation-name: picture;
  animation-duration: 0.3;
  opacity: 0;
  animation-delay: 0.7;
  animation-fill-mode: forwards;
  background-color: $white;
}
.profile-picture {
  width: 80;
  height: 80;
  border-radius: 40;
}

.top-border {
  height: 2;
  background-color: $dark-blue;
  margin-bottom: 40;
}

@keyframes play {
  from {
    opacity: 0.3;
    transform: scale(0.6, 0.6);
  }
  60% {
    opacity: 0.6;
    transform: scale(1.1, 1.1);
    animation-timing-function: ease-in;
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.form-content {
  background-color: white;
  margin-top: 56;
  margin-left: 32;
  margin-right: 32;
  margin-bottom: 42;
  opacity: 0.6;
  transform: scale(0.8, 0.8);
  animation-name: play;
  animation-fill-mode: forwards;
  animation-duration: 0.6;

  &.static {
    margin-bottom: 0;
    margin-top: 10;
    background-color: $black;
  }
}

.fields-section {
  margin-left: 12;
  margin-right: 12;

  &.static {
    margin-left:0;
    margin-right:0;
    padding:5;
  }
}

.field-title,
.field-switch-title {
  horizontal-align: left;
  font-size: 18;
  color: #737373;
  padding: 10 0;
}

.field {
  horizontal-align: stretch;
  text-align: right;
  font-size: 18;
  color: $dark-blue;
  padding: 10 0;

  &.static {
    color: $blue-light;
  }
  &.static-white {
    color: $white;
  }
}

.field-multiline {
  min-height: 60;
  font-size: 14;
  color: $dark-blue;
  margin: 10 0;
}

.field-switch {
  vertical-align: center;
  horizontal-align: right;
  margin: 10 0;
}

.line {
  background-color: #dbdbdb;
  height: 1;
  margin: 0;

  &.static {
    background-color: $black;
  }
}

.checkbox {
  width: 18;
  height: 18;
  margin: 10 10 10 0;
}

.update {
  horizontal-align: stretch;
  text-align: center;
  color: white;
  background-color: #30bcff;
  height: 36;
}