.idea
node_modules
dist
admin/db.json
lerna-debug.log
production.yaml
packages/**/*.js
!packages/api-explorer/lib/loadSwaggerUi.js
!packages/api-helpers/index.js
!packages/api-helpers/index.js
!packages/api-helpers/src/gravatar.js
!packages/api-helpers/src/helpers.js
!packages/api-helpers/src/publish-config.js
!packages/api-helpers/src/relation-mixin.js
!packages/api-helpers/src/template-helper.js
!packages/logger/index.js
npm-debug.log

