<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent class="sidedrawer-left" rows="auto,*,auto" columns="*">
    <FlexBoxLayout class="sidedrawer-header" paddingTop="20" height="168" row="0" col="0">
        <Image src="res://ngatl" [nsRouterLink]="['/home']" class="sidedrawer-header-image"></Image>
        <!-- <Label text="ngATL" textWrap="true" class="sidedrawer-header-brand"></Label> -->
    </FlexBoxLayout>
    <ScrollView row="1" col="0">
      <GridLayout class="sidedrawer-content" rows="*" columns="*">
        <StackLayout row="0" col="0" class="h-full">
          <!-- Home -->
          <GridLayout columns="60,*,auto" rows="60" (tap)="changeNav(['/home'])" pageTransition="slideLeft" class="sidedrawer-item" [class.active]="activeUrl == '/home' || activeUrl == '/'">
            <Label [text]="'ion-home' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0" (tap)="changeNav(['/home'])"></Label>
            <Label [text]="'menu.home' | translate" class="sidedrawer-list-item-text" row="0" col="1" (tap)="changeNav(['/home'])"></Label>
          </GridLayout>
  
           <!-- Schedule -->
           <GridLayout rows="60" columns="60,*,auto" (tap)="changeNav(['/home', 'events'])" 
           pageTransition="slideleft" class="sidedrawer-item" [class.active]="activeUrl == '/home/events'">
               <Label [text]="'ion-ios-calendar-outline' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0" (tap)="changeNav(['/home', 'events'])" ></Label>
               <Label [text]="'menu.schedule' | translate"  class="sidedrawer-list-item-text" row="0" col="1" (tap)="changeNav(['/home', 'events'])" ></Label>
           </GridLayout>
  
          <!-- Speakers -->
          <GridLayout rows="60" columns="60,*,auto" (tap)="changeNav(['/home', 'speakers'])" [class.active]="activeUrl == '/home/speakers'"
          pageTransition="slideleft" class="sidedrawer-item">
              <Label [text]="'ion-mic-b' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0" (tap)="changeNav(['/home', 'speakers'])"></Label>
              <Label [text]="'menu.speakers' | translate"  class="sidedrawer-list-item-text" row="0" col="1" (tap)="changeNav(['/home', 'speakers'])"></Label>
          </GridLayout>
  
          <!-- Sponsors -->
          <GridLayout rows="60" columns="60,*,auto" (tap)="changeNav(['/home', 'sponsors'])" [class.active]="activeUrl == '/home/sponsors'"
          pageTransition="slideleft" class="sidedrawer-item">
              <Label [text]="'ion-ribbon-b' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0"></Label>
              <Label [text]="'menu.sponsors' | translate" class="sidedrawer-list-item-text" row="0" col="1"></Label>
          </GridLayout>

          <!-- Community -->
          <GridLayout rows="60" columns="60,*,auto" (tap)="changeNav(['/home', 'misc', 'community'])" [class.active]="activeUrl == '/home/misc/community'"
          pageTransition="slideleft" class="sidedrawer-item">
              <Label [text]="'ion-ios-people' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0"></Label>
              <Label [text]="'menu.community' | translate" class="sidedrawer-list-item-text" row="0" col="1"></Label>
          </GridLayout>

          <!-- Media Partners -->
          <GridLayout rows="60" columns="60,*,auto" (tap)="changeNav(['/home', 'misc', 'media'])" [class.active]="activeUrl == '/home/misc/media'"
          pageTransition="slideleft" class="sidedrawer-item">
              <Label [text]="'ion-wand' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0"></Label>
              <Label [text]="'menu.media' | translate" class="sidedrawer-list-item-text" row="0" col="1"></Label>
          </GridLayout>
  
          <!-- Code of Conduct -->
          <GridLayout rows="60" columns="60,*,auto" (tap)="changeNav(['/home', 'misc', 'conduct'])" [class.active]="activeUrl == '/home/misc/conduct'"
          pageTransition="slideleft" class="sidedrawer-item">
              <Label [text]="'ion-ios-list-outline' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0"></Label>
              <Label [text]="'menu.conduct' | translate" class="sidedrawer-list-item-text" row="0" col="1"></Label>
          </GridLayout>
  
          <!-- About -->
          <GridLayout rows="60" columns="60,*,auto" (tap)="changeNav(['/home', 'misc', 'about'])" [class.active]="activeUrl == '/home/misc/about'"
          pageTransition="slideleft" class="sidedrawer-item">
              <Label [text]="'ion-ios-book-outline' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0"></Label>
              <Label [text]="'menu.story' | translate" class="sidedrawer-list-item-text" row="0" col="1"></Label>
          </GridLayout>

          <!-- Credits -->
          <GridLayout rows="60" columns="60,*,auto" (tap)="changeNav(['/home', 'misc', 'credits'])" [class.active]="activeUrl == '/home/misc/credits'"
          pageTransition="slideleft" class="sidedrawer-item"><!--[touchColor]="'#4d4d4d,#5a5a5a'" [touchActive]="'/home/misc/credits,#fff'"-->
              <Label [text]="'ion-ios-information' | fonticon" class="ion sidedrawer-list-item-icon" row="0" col="0"></Label>
              <Label [text]="'menu.credits' | translate" class="sidedrawer-list-item-text" row="0" col="1"></Label>
          </GridLayout>
        </StackLayout>
      </GridLayout>
    </ScrollView>
    <StackLayout row="2" col="0" class="copyright p-10">
        <Label [text]="'menu.copyright' | translate" class="label"></Label> 
    </StackLayout>
  </GridLayout>
  <page-router-outlet
    tkMainContent
  ></page-router-outlet>
</RadSideDrawer>
