<ngatl-ns-action-bar [title]="'About'"></ngatl-ns-action-bar>
<ScrollView>
    <StackLayout class="page h-full">
      <StackLayout>
          <Label text="Built w/ NativeScript for Angular" (tap)="viewPage()" textWrap="true" class="c-white header"></Label>
          <Image src="~/assets/nng.png" padding="20" (tap)="viewPage()" horizontalAlignment="center" textAlign="center" height="150"></Image>
          <Label text="By Nitish Dayal & Nathan Walker" textWrap="true" class="c-white header" (tap)="viewGH()"></Label>
      </StackLayout>
      <StackLayout class="c-bg-grey-dark">
        <Label text="Community plugins used:" textWrap="true" class="c-white mention"></Label>
        <Label text="nativescript-spotify" textWrap="true" class="c-white" (tap)="viewPlugin(1)"></Label>
        <Label text="nativescript-ezaudio" textWrap="true" class="c-white" (tap)="viewPlugin(2)"></Label>
        <Label text="nativescript-audio" textWrap="true" class="c-white" (tap)="viewPlugin(13)"></Label>
        <Label text="nativescript-fancyalert" textWrap="true" class="c-white" (tap)="viewPlugin(3)"></Label>
        <Label text="nativescript-coachmarks" textWrap="true" class="c-white" (tap)="viewPlugin(15)"></Label>
        <Label text="nativescript-gif" textWrap="true" class="c-white" (tap)="viewPlugin(4)"></Label>
        <Label text="nativescript-loading-indicator" textWrap="true" class="c-white" (tap)="viewPlugin(5)"></Label>
        <Label text="nativescript-ng2-fonticon" textWrap="true" class="c-white" (tap)="viewPlugin(6)"></Label>
        <Label text="nativescript-plugin-firebase" textWrap="true" class="c-white" (tap)="viewPlugin(7)"></Label>
        <Label text="nativescript-social-share" textWrap="true" class="c-white" (tap)="viewPlugin(17)"></Label>
        <Label text="nativescript-slides" textWrap="true" class="c-white" (tap)="viewPlugin(8)"></Label>
        <Label text="nativescript-swiss-army-knife" textWrap="true" class="c-white" (tap)="viewPlugin(18)"></Label>
        <Label text="nativescript-splashscreen" textWrap="true" class="c-white" (tap)="viewPlugin(9)"></Label>
        <Label text="nativescript-telerik-ui-pro" textWrap="true" class="c-white" (tap)="viewPlugin(10)"></Label>
        <Label text="nativescript-themes" textWrap="true" class="c-white" (tap)="viewPlugin(11)"></Label>
        <Label text="nativescript-master-technology" textWrap="true" class="c-white" (tap)="viewPlugin(12)"></Label>
        <Label text="nativescript-permissions" textWrap="true" class="c-white" (tap)="viewPlugin(14)"></Label>
        <Label text="nativescript-dev-sass" textWrap="true" class="c-white" (tap)="viewPlugin(16)"></Label>
          
      </StackLayout>
    </StackLayout>
  </ScrollView>
