<ngatl-ns-action-bar [title]="'menu.about' | translate"></ngatl-ns-action-bar>
<ScrollView *ngIf="renderView">
    <GridLayout rows="auto,auto,*" columns="*" class="page">
      <StackLayout class="about-bg p-t-10" row="0" col="0">
          <Label text="Built w/ NativeScript for Angular" (tap)="viewPage()" textWrap="true" class="c-black text-center"></Label>
          <Image src="~/assets/nng.png" padding="20" (tap)="viewPage()" horizontalAlignment="center" height="150" class="text-center"></Image>
          <Label text="by nStudio" textWrap="true" class="c-sky text-center p-10 w-full c-bg-dark-blue" (tap)="viewGH()"></Label>
      </StackLayout>
      <StackLayout class="listing p-y-10" row="1" col="0">
          <Label text="Credits:" textWrap="true" class="c-white mention"></Label>
          <Label text="Ionicons are awesome." textWrap="true" class="c-white" (tap)="viewCredit(1)"></Label>
          <Label text="Zack Chapple is amazing." textWrap="true" class="c-white" (tap)="viewPlugin(2)"></Label>
          <Label text="Nitish Dayal is talented." textWrap="true" class="c-white" (tap)="viewCredit(3)"></Label>
          <Label text="Nathan Walker loves you." textWrap="true" class="c-white" (tap)="viewCredit(4)"></Label>  
        </StackLayout>
      <StackLayout class="listing p-y-10" row="2" col="0">
        <Label text="Community plugins used:" textWrap="true" class="c-white mention"></Label>
        <Label text="nativescript-audio" textWrap="true" class="c-white" (tap)="viewPlugin(13)"></Label>
        <Label text="nativescript-email" textWrap="true" class="c-white" (tap)="viewPlugin(19)"></Label>
        <Label text="nativescript-gif" textWrap="true" class="c-white" (tap)="viewPlugin(4)"></Label>
        <Label text="nativescript-loading-indicator" textWrap="true" class="c-white" (tap)="viewPlugin(5)"></Label>
        <Label text="nativescript-ngx-fonticon" textWrap="true" class="c-white" (tap)="viewPlugin(6)"></Label>
        <Label text="nativescript-social-share" textWrap="true" class="c-white" (tap)="viewPlugin(17)"></Label>
        <Label text="nativescript-splashscreen" textWrap="true" class="c-white" (tap)="viewPlugin(9)"></Label>
        <Label text="nativescript-pro-ui" textWrap="true" class="c-white" (tap)="viewPlugin(10)"></Label>
        <Label text="nativescript-themes" textWrap="true" class="c-white" (tap)="viewPlugin(11)"></Label>
        <Label text="nativescript-permissions" textWrap="true" class="c-white" (tap)="viewPlugin(14)"></Label>
        <Label text="nativescript-dev-sass" textWrap="true" class="c-white" (tap)="viewPlugin(16)"></Label>   
      </StackLayout>
    </GridLayout>
  </ScrollView>
