<ngatl-ns-action-bar [title]="'menu.speakers' | translate"></ngatl-ns-action-bar>
<StackLayout height="100%" class="page h-full p-b-20" (loaded)="onBackgroundLoaded($event)" *ngIf="renderView">
  <!-- Search -->
  <AbsoluteLayout>
    <GridLayout rows="*" top="0" left="0" height="100%" width="100%" columns="15,*,15" class="list-background ">
      <ListView row="0" col="1" #speakerList height="100%" width="100%" [items]="speakerState$ | async" class="list-group h-full">
        <ng-template let-item="item" let-odd="odd" let-even="even" let-index="index">
          <StackLayout shadow="5">
            <StackLayout [class.first-item]="index == 0" class="card" (tap)="openDetail(item)">
              <Image [src]="item.image" horizontalAlignment="center" class="w-full" backgroundColor="#fff"></Image>
              <!-- <StackLayout class="hr-light"></StackLayout> -->
              <Label [text]="item.name" class="text-center t-30 c-grey-dark font-weight-bold m-t-5"></Label>
            </StackLayout>
          </StackLayout>
        </ng-template>
      </ListView>
      <StackLayout (touch)="slide($event)" row="0" col="2" class="letter-wrap">
        <Label [text]="char" *ngFor="let char of alphabet" textWrap="true"></Label>
      </StackLayout>
    </GridLayout>
    <StackLayout top="0" left="0" [collapse]="speakerList" [watch]="quickScroll$" class="search-bar" width="100%">
      <SearchBar id="search" #search hint="Search" text="" (clear)="clear($event)" (submit)="search$.next(search.text)" (loaded)="doNotShowAndroidKeyboard($event)"
        android:height="40"></SearchBar>
    </StackLayout>
  </AbsoluteLayout>
</StackLayout>