<GridLayout rows="auto,*,auto" columns="*" class="c-bg-black">
    <ngatl-ns-modal-title-bar [title]="title" [params]="params" row="0" col="0" [showMoreButton]="true" [moreIcon]="'ion-ios-upload-outline'" (moreAction)="share()"></ngatl-ns-modal-title-bar>
    <Image [src]="url" row="1" rowSpan="2" col="0" horizontalAlignment="center" verticalAlignment="center" class="w-full h-full" stretch="aspectFit"></Image>
    <Button [text]="'item.delete-lbl' | translate" (tap)="confirmDelete()" class="btn btn-primary c-bg-ngatl-red text-center m-b-5 m-x-5" [touchColor]="'#7c1f21,#571618'" row="2" col="0"></Button>
    
</GridLayout>
