<!-- <ActionBar [title]="title" class="action-bar">
  <NavigationButton [text]="'general.back' | translate"></NavigationButton>
</ActionBar> -->

<ActionBar
  class="action-bar"
  [title]="title">
  <NavigationButton
    [text]="'general.back' | translate"
    [visibility]="backGuard  ? 'collapsed' : 'visible'">
  </NavigationButton>
  <ActionItem
  [text]="'general.back' | translate"
    ios.position="left"
    (tap)="back()"
    class="action-item"
    *ngIf="backGuard">
  </ActionItem>
  <!-- <ActionItem
    (tap)="rightButtonTap.emit(true)"
    ios.position="right"
    *ngIf="rightButtonLabel">
    <Button
      [text]="rightButtonLabel | translate"
      class="action-item">
    </Button>
  </ActionItem> -->
</ActionBar>
