<ngatl-ns-action-bar [title]="'menu.schedule' | translate"></ngatl-ns-action-bar>

    <GridLayout rows="auto, *" columns="*" class="schedule-main-content" id="main-content" *ngIf="renderView">
      <!-- Segmented Bar -->
      <SegmentedBar row="0" [selectedIndex]="selectedDay" (selectedIndexChange)="onDayChange($event)"
              ios:selectedBackgroundColor="white"
              android:selectedBackgroundColor="white"
              class="conf-segmented-bar" [items]="days">
      </SegmentedBar>
      <GridLayout row="1" rows="auto, auto, *" (loaded)="onBackgroundLoaded($event)">
          <!-- Search -->
          <SearchBar row="0" id="search" #search hint="Search" text="" (clear)="clear($event)" (submit)="search$.next(search.text)" (loaded)="doNotShowAndroidKeyboard($event)" android:height="40"></SearchBar>
          <!-- toggle faviorites -->
          <StackLayout
            row="1"
            orientation="horizontal"
            class="checkbox-layout">
            <CheckBox
              verticalAlignment="top"
              class="checkbox-item"
              [checked]="checkboxValue"
              (loaded)="checkboxLoaded($event)"
              (checkedChange)="checkedChange($event)"
              checkStyle="checkbox_gold"
              fontSize="25"
              onTintColor="#fed03d"
              ios:fillColor="#fed03d">
            </CheckBox>
            <Label [text]="'user.toggle-fav' | translate" class="label" (tap)="toggleFavoritesOnly()"></Label>
          </StackLayout>
          <!-- List -->
          <RadListView row="2" [items]="eventService.conferenceModel.schedule$ | async" id="sessions-list" separatorColor="#000000" 
          class="c-bg-black"
          (loaded)="listviewLoaded($event)"
          (itemLoading)="changeCellBackground($event)"
          pullToRefresh="true" 
          (pullToRefreshInitiated)="onPullRefreshInitiated($event)">
              <ng-template let-item="item">
                  <GridLayout columns="auto, auto, *, auto" rows="auto, auto, auto" class="session-container" [class.favorite]="item.isFavorite">
                      <Image row="0" rowSpan="3" col="0" [src]="item.isFavorite ? 'res://add_to_fav_1' : 'res://add_to_fav'" [ngClass]="item.cssClass" (tap)="toggleItemFav(item)"></Image>
                      <Label row="0" col="1" [text]="item.startTime" class="session-time"></Label>

                      <Label row="0" col="2" [text]="item.room" class="session-room"></Label>
                      <Label row="1" col="1" colSpan="2" [text]="item.name" textWrap="true" class="session-title" (tap)="toggleItemFav(item)"></Label>
                      <Label row="2" col="1" colSpan="4" [text]="item.speaker" textWrap="true" class="session-speaker"></Label>
                      <Label [text]="'ion-ios-upload-outline' | fonticon" class="ion t-15 c-light-blue label" row="1" col="3" (tap)="shareDetails(item)"></Label>
                  </GridLayout>
              </ng-template>
          </RadListView>
      </GridLayout>
  </GridLayout>
