<ngatl-ns-action-bar class="action-bar" [intro]="showIntro" [ready]="appService.shownIntro"> 
</ngatl-ns-action-bar>
<GridLayout id="content-root" rows="*" columns="*">
    <AbsoluteLayout (loaded)="startBadge($event)" class="w-full h-full home-bg" row="0" col="0" *ngIf="appService.shownIntro">
        <Image src="res://badge_bottom.png" id="badge-bottom" (tap)="openBarcode()"></Image>
        <Image src="res://badge_top.png" id="badge-top"></Image>
        <Label text="" id="beacon" class="beacon"></Label>  
    </AbsoluteLayout>
    <GridLayout id="intro-elements" row="0" col="0" *ngIf="!appService.shownIntro">
        <GridLayout id="intro-background" class="intro-background-intro" originY="0"></GridLayout>
        
        <GridLayout id="intro-logo-bg" class="intro-logo-bg-intro" backgroundColor="#fff" width="93" height="93" horizontalAlignment="center" verticalAlignment="center" borderRadius="100" ></GridLayout>
        <GridLayout id="intro-logo-n" class="intro-logo-n-intro" backgroundImage="res://ngatlsplash" width="331" height="354" horizontalAlignment="center" verticalAlignment="center" ></GridLayout>

        <GridLayout id="intro-logo-ng" class="intro-logo-ng-intro" backgroundImage="res://ng" width="118" height="134" horizontalAlignment="center" verticalAlignment="center"></GridLayout>
        <GridLayout id="intro-logo-atl" class="intro-logo-atl-intro" backgroundImage="res://atl" width="171" height="131" horizontalAlignment="center" verticalAlignment="center"></GridLayout>

        <Label id="intro-text-one"
                class="intro-text-one-intro"
                text="Diversity, Inclusion&#xA;and Angular"
                fontSize="37"
                horizontalAlignment="center"
                verticalAlignment="center"
                textWrap="true"
                color="white"
                textAlignment="center"></Label>
        <Label id="intro-text-two"
                class="intro-text-two-intro"
                text="1st annual Angular conference in Atlanta, GA&#xA;focused on diversity in technology."
                fontSize="19"
                horizontalAlignment="center"
                verticalAlignment="center"
                textWrap="true"
                color="#8DA1AB"
                textAlignment="center"></Label>

        <GridLayout class="intro-swipe-intro" *ngIf="showSwiper" id="intro-swipe" padding="10">
          <Shimmer [enabled]="swipeEnable">
              <Label text="Swipe for fun" class="swipe-text c-white w-full text-center"></Label>     
          </Shimmer>
        </GridLayout>

        <Label id="intro-version"
                class="intro-version-intro"
                text="Enjoy the time of your life."
                fontSize="14"
                horizontalAlignment="center"
                verticalAlignment="center"
                color="white"
                textAlignment="center"></Label>
    </GridLayout>
</GridLayout>

<!-- <ScrollView class="page">
  <StackLayout class="page">
    <StackLayout class="card">
      <Button text="Barcode" (tap)="openBarcode()"></Button>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <StackLayout class="card">
      <Label text="A sample" textWrap="true"></Label>
      <StackLayout class="hr-light"></StackLayout>
      <GridLayout rows="auto" columns="*,*,*" class="social-controls">
        <Button col="1" text="Toggle Spinner" class="gray" (tap)="toggleSpinner()"></Button>
      </GridLayout>
    </StackLayout>

    <StackLayout class="card">
      <Label text="This is a sample card. Do with it what you will!" textWrap="true"></Label>
      <StackLayout class="hr-light"></StackLayout>
      <GridLayout rows="auto" columns="*,*,*" class="social-controls">
        <Button col="0" [text]="'ion-heart' | fonticon" class="ion red"></Button>
        <Button col="1" [text]="'ion-star' | fonticon" class="ion gray"></Button>
        <Button col="2" [text]="'ion-ios-upload-outline' | fonticon" class="ion gray"></Button>
      </GridLayout>
      <StackLayout>
        <TextField hint="First Name" [(ngModel)]="user.firstName"></TextField>
        <TextField hint="Last Name" [(ngModel)]="user.lastName"></TextField>
        <TextField hint="Email" [(ngModel)]="user.email" autocapitalizationType="none" autocorrect="false" keyboardType="email"></TextField>
        <TextField secure="true" hint="Password" [(ngModel)]="user.password" autocapitalizationType="none" autocorrect="false" returnKeyType="go"
          (returnPress)="login()"></TextField>
        <Button text="Create" (tap)="create()"></Button>
        <Button text="Login" (tap)="login()"></Button>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</ScrollView> -->
